<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Silent Auction</strong> by Ashish Jangid. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <a class="button bd-tw-button">
                <span class="icon">
                      <i class="fa fa-github"></i>
                    </span>
                <span>GitHub</span>
            </a>
        </div>
    </div>
</footer>