<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">Be A Part Of Silent Auction</p>
                    <p class="subtitle">Easy. Fun. Successful</p>
                    <a class="is-link">Learn More</a>
                </div>
                <div class="column is-narrow">
                    <div class="box has-text-centered">
                        <p class="heading is-5 is-link">You are just a click away..</p>
                        <a class="bd-tw-button button is-large" (click)="navigate('login')">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-inverted">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-12 has-text-centered">
                    <p class="title heading is-size-4">How it works</p>
                </div>
            </div>
            <!-- <p class="heading has-text-centered is-size-4">How it works</p> -->
            <div class="columns">
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-4x fa-cog" aria-hidden="true"></i>
                    </span>
                    <p class="title is-5 steps-title">Setup Your Account</p>
                    <p class="subtitle is-7 steps-subtitle">Login/SignUp Using SilentAuction Credentials or Google</p>
                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-4x fa-plus-circle" aria-hidden="true"></i>
                      </span>
                    <p class="title is-5 steps-title">Add Your Offers</p>
                    <p class="subtitle is-7 steps-subtitle">Create Any Number of Offers From Various Categories</p>

                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-4x fa-hand-rock-o" aria-hidden="true"></i>
                      </span>
                    <p class="title is-5 steps-title">Let The Bidding Begin!</p>
                    <p class="subtitle is-7 steps-subtitle">Sit Back And Relax, Let The Others Bid Upon Your Offers</p>

                </div>
                <div class="column has-text-centered">
                    <span class="icon is-large">
                        <i class="fa fa-4x fa-money" aria-hidden="true"></i>
                      </span>
                    <p class="title is-5 steps-title">Done! You're a Fundraising Hero</p>
                    <p class="subtitle is-7 steps-subtitle">Be Proud Of Yourself For What You Have Done For The Society</p>

                </div>
            </div>
        </div>
    </div>
</section>