<section class="container">
    <div class="columns is-marginless">
        <div class="column is-one-quarter-tablet menu-column">
            <aside class="menu">
                <p class="menu-label">
                    Categories
                </p>
                <ul class="menu-list">
                    <li><a (click)="navigate()">All Products</a></li>
                    <li>
                        <ul class="is-paddingless">
                            <li *ngFor="let category of categories">
                                <a (click)="navigate(category.toLowerCase())">
                                    {{category}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="columns is-marginless is-mobile">
                <div class="column is-half-tablet">
                    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                        <ul>
                            <li *ngFor="let route of routeSegments; let i=index" [ngClass]="{'is-active': i === routeSegments.length - 1}">
                                <a (click)="navigateToUrl(route)">{{ route.toUpperCase() }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="column is-half-tablet">
                    <div class="select sort-dropdown">
                        <select (change)="sort(select.value)" #select>
                            <option *ngFor="let s of sortOptions">{{s.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-12" *ngIf="isAdmin">
                <div class="tabs is-boxed">
                    <ul>
                        <li [ngClass]="{'is-active': isPending}">
                            <a (click)="show('pending')">
                                <span class="icon is-small"><i class="fa fa-spinner" aria-hidden="true"></i></span>
                                <span>Pending</span>
                            </a>
                        </li>
                        <li [ngClass]="{'is-active': !isPending}">
                            <a (click)="show('approved')">
                                <span class="icon is-small"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </span>
                                <span>Approved</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="columns is-marginless" *ngIf="!items.length">
                <div class="column is-12">
                    <div class="box">
                        <div class="section">
                            <p class="has-text-centered">
                                <span class="icon">
                                    <i class="fa fa-4x fa-exclamation-circle" aria-hidden="true"></i>                            
                                </span>
                            </p>
                            <p class="heading is-size-6 has-text-centered">
                                Nothing To Display
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-marginless is-multiline" *ngIf="items.length">
                <div class="column is-one-third-desktop is-half-tablet item" *ngFor="let item of items">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4x4">
                                <img src="http://via.placeholder.com/200x200" alt="Placeholder image">
                            </figure>
                            <div class="bid-info box is-primary">
                                <p class="heading is-size-6 has-text-centered" *ngIf="item.status === 'pending'">
                                    <strong class="pending-status">Pending Approval</strong>
                                </p>
                                <p class="heading is-size-6 has-text-centered" *ngIf="item.status === 'approved'">
                                    <strong *ngIf="!item?.curr_val && item.author_uid === currentUid">Waiting For The First Bid</strong>
                                    <strong *ngIf="!item?.curr_val && item.author_uid !== currentUid">Place The First Bid</strong>
                                    <strong *ngIf="item?.curr_val">Current Bid: <i class="fa fa-inr" aria-hidden="true"></i>{{item?.curr_val}}</strong>
                                </p>
                                <p class="has-text-centered" *ngIf="!isAdmin">
                                    <a class="button is-success" *ngIf="item.author_uid !== currentUid" (click)="bid(item.product_id)">
                                        <span class="icon">
                                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                                    </span>
                                        <span>Bid</span>
                                    </a>
                                </p>
                                <p class="has-text-centered" *ngIf="isAdmin">
                                    <a class="button" [ngClass]="{'is-success': item.status === 'approved', 'is-danger': item.status === 'pending'}" (click)="bid(item.product_id)">
                                        <span class="icon">
                                                        <i class="fa" [ngClass]="{'fa-check': item.status === 'approved', 'fa-exclamation': item.status === 'pending'}" aria-hidden="true"></i>
                                                    </span>
                                        <span [innerHTML]="item.status === 'pending' ? 'Approve' : 'Approved'"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content" (click)="showProduct(item)">
                                    <p class="title is-5" [innerHTML]="item?.name"></p>
                                    <p class="subtitle is-6" [innerHTML]="'Category: '+(item?.category).toUpperCase()"></p>
                                </div>
                            </div>
                            <div class="content">
                                <strong class="is-size-7"><span>Base Value: <i class="fa fa-inr" aria-hidden="true"></i>
                                </span>{{item?.base_price}}</strong>
                                <br>
                                <strong class="is-size-7"><span>Min Increment: <i class="fa fa-inr" aria-hidden="true"></i>
                                </span>{{item?.increment}}</strong>
                                <br>
                                <p class="is-size-7" [innerHTML]="'Posted: '+(item?.createdAt | date)"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>