<app-header [flag]="true" [data]="userInfo"></app-header>
<section class="hero is-small is-primary">
    <div class="hero-body">
        <div class="container">
            <p class="title">Welcome to Silent Auction</p>
        </div>
    </div>
</section>
<nav class="navbar has-shadow">
    <div class="container">
        <div class="navbar-tabs">
            <a class="navbar-item is-tab" routerLink="category" routerLinkActive="is-active">Products</a>
            <a class="navbar-item is-tab" routerLink="my_offers" routerLinkActive="is-active">Your Offers</a>
            <a class="navbar-item is-tab" routerLink="add_product" routerLinkActive="is-active">Post An Offer</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>